@page
@using Cookbook.Components
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}


<div class="text-center">
    <h1 class="display-2">Najnowsze przepisy:</h1>
</div>

<PrzepisyLista SelectedCategory="Desery">
    @(await Html.RenderComponentAsync<PrzepisyLista>(RenderMode.ServerPrerendered, new { SelectedCategory = "Ostatnie" }))
</PrzepisyLista>

<script src="_framework/blazor.server.js"></script>