@page
@using Cookbook.Components
@model IndexModel
@{
    ViewData["Title"] = "Przystawki";
}

<div class="text-center">
    <h1 class="display-2">Przystawki</h1>
</div>

<PrzepisyLista SelectedCategory="Desery">
    @(await Html.RenderComponentAsync<PrzepisyLista>(RenderMode.ServerPrerendered, new { SelectedCategory = "Przystawki" }))
</PrzepisyLista>

<script src="_framework/blazor.server.js"></script>